doctype html
!='<!--[if IE 8]><html lang="'+lang+'" class="no-js ie8 lt-ie10"><![endif]-->'
!='<!--[if IE 9]><html lang="'+lang+'" class="no-js ie9 lt-ie10"><![endif]-->'
!='<!--[if !IE]><!-->'
html(lang=lang, class="no-js")
	!='<!--<![endif]-->'